option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_DEFAULT_REGION: us-east-2
    LOG_TABLE_NAME: logs_db
    TELEMETRY_TABLE_NAME: telemetry_db
    WEBAPP_DIR: /opt/python/current/app/WebApp
    AWS_IOT_DIR: /opt/python/current/app/WebApp/aws_iot
  aws:elasticbeanstalk:container:python:
    WSGIPath: WebApp/main/application.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "WebApp/main/static/"

container_commands:
  00_upgrad_awscli:
    command: pip install awscli --upgrade
  01_install_shared_modules: 
    command: pip install --ignore-installed $WEBAPP_DIR/shared_modules/